<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

*   Some of the popular languages that Data Scientists use
*   Some of the commonly used libraries used by Data Scientists
*   Data Science Tools
*   Arithmetic expression examples
*   Minutes to Hours

#### Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Julia</li>
</ol>

#### Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Scikit-Learn</li>
    <li>ScipY</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
</ol>

#### Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| R Studio           |
| IBM Watson Studio  |

## Arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
1+1

2

In [9]:
2*3

6

In [10]:
3**2

9

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Damodar